.infoBtn {
    bottom: 2rem;
    right: 2rem;
}

.nameTag {
    bottom: 2rem;
    left: 2rem;
}

#logo {
    color: #fff !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

@media screen and (max-width: 600px) {
    .infoBtn {
        bottom: 1rem;
        right: 1rem;
    }

    .nameTag {
        bottom: 1rem;
        left: 1rem;
    }
}
