.infoBtn {
    bottom: 2rem;
    right: 2rem;
}

.nameTag {
    bottom: 2rem;
    left: 2rem;
}

#logo {
    color: #fff !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
}

@media screen and (max-width: 600px) {
    .infoBtn {
        bottom: 1rem;
        right: 1rem;
    }

    .nameTag {
        bottom: 1rem;
        left: 1rem;
    }
}
