/* .leaflet-routing-container {
    max-width: 700px;
    border-radius: 2rem;
    background-color: white;
    color: gray;
    padding: 10px;
    top: 10px;
    right: 10px;
    margin-right: 2rem;
    transition: margin-right 0.2s ease;
    max-height: 600px;
}

h2 {
    margin: 0px !important;
}

h3 {
    margin: 0px !important;
    color: gray;
} */
